<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ emailtitle }}</title>
    <style type="text/css">
        #outlook a {
            padding: 0;
        }
        body {
            width: 100% !important;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            margin: 0;
            padding: 0;
        }
        /* force default font sizes */
        .ExternalClass {
            width: 100%;
        }
        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }

        /* Hotmail */
        table td {
            border-collapse: collapse;
        }
        @media only screen and (min-width: 600px) {
            .maxW {
                width: 600px !important;
            }
        }
    </style>
</head>

{{ exceptionhtml }}

</html>