awscli==1.18.69
bcrypt==3.1.7
boto3==1.13.19
boto==2.49.0
botocore==1.16.19
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==39.0.1
cssselect==1.1.0
cssutils==1.0.2
datetime==4.3
docutils==0.15.2
emails==0.5.15
fabric==1.14.1
figgypy==1.1.9
future==0.18.2
idna==2.9
jinja2==2.11.2
jmespath==0.10.0
lxml==4.5.1
markupsafe==1.1.1
paramiko==2.7.1
premailer==3.7.0
pretty-bad-protocol==3.1.1
psutil==5.7.0
pyasn1==0.4.8
pycparser==2.20
pynacl==1.4.0
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2020.1
pyyaml==5.3.1
requests==2.23.0
rsa==3.4.2
s3transfer==0.3.3
seria==0.1.5
six==1.15.0
urllib3==1.25.9
xmltodict==0.12.0
zope.interface==5.1.0
